 bo dy {
  font-family: Arial;
  text-align:center;
  display:flex;
  justify-content:center;
  flex-direction:column;

}

#mainImg {
  width: 35%;
}

.bo x {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
} 
.red{
  color:red;
}
.blue{
  color:blue;
}
.bo x{
  /* background-color: pink; */
  border:1px solid black;
}
.btn{
  color:white;
  background-color:red;
  border:1px solid black;
  border-radius:4px;
}
.brn{
  background-color:blue;
  color:white;
}
.h1{
text-decoration: underline purple wavy;
text-decoration-thickness: 5px;
}



h2{
  color:red;

}
.backcolor{

width:500px;
height:100
}

.button{
  background-color: black;
  color:white;
  border:1px solid red;
}



